<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:og="http://ogp.me/ns#"
      xmlns:fb="https://www.facebook.com/2008/fbml">
<head>
    <title>Using AngularJS with ClojureScript: Part 1 - Notes to self</title>
    <!-- Using the latest rendering mode for IE -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    

    <!-- Open Graph tags -->
        <meta property="og:site_name" content="Notes to self" />
            <meta property="og:type" content="article"/>
            <meta property="og:title" content="Using AngularJS with ClojureScript: Part 1"/>
            <meta property="og:url" content="http://ciwchris.github.io/blog/using-purnam-with-angular-part-1.html"/>
            <meta property="og:description" content=""/>
            <meta property="article:published_time" content="2014-01-06" />
                <meta property="article:section" content="ClojureScript" />
                <meta property="article:tag" content="clojurescript" />
                <meta property="article:tag" content="angular" />
                <meta property="article:author" content="Chris" />

    <!-- Bootstrap -->
        <link rel="stylesheet" href="http://ciwchris.github.io/theme/css/bootstrap.min.css" type="text/css"/>
    <link href="http://ciwchris.github.io/theme/css/font-awesome.min.css" rel="stylesheet">

    <link href="http://ciwchris.github.io/theme/css/pygments/native.css" rel="stylesheet">
    <link rel="stylesheet" href="http://ciwchris.github.io/theme/css/style.css" type="text/css"/>
    <link rel="stylesheet" href="http://ciwchris.github.io/theme/css/main.css" type="text/css"/>

        <link href="http://ciwchris.github.io/feeds/all.atom.xml" type="application/atom+xml" rel="alternate"
              title="Notes to self ATOM Feed"/>

</head>
<body>

<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="http://ciwchris.github.io/" class="navbar-brand">
Notes to self            </a>
        </div>
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav">
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="http://ciwchris.github.io/archives.html"><i class="fa fa-th-list"></i><span class="icon-label">Archives</span></a></li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
</div> <!-- /.navbar -->

<div class="container">
    <div class="row">
        <div class="col-sm-9">

    <section id="content">
        <article>
            <header class="page-header">
                <h1>
                    <a href="http://ciwchris.github.io/blog/using-purnam-with-angular-part-1.html"
                       rel="bookmark"
                       title="Permalink to Using AngularJS with ClojureScript: Part 1">
                        Using AngularJS with ClojureScript: Part 1
                    </a>
                </h1>
            </header>
            <div class="entry-content">
                <div class="panel">
                    <div class="panel-body">
<footer class="post-info">
    <span class="label label-default">Date</span>
    <span class="published">
        <i class="fa fa-calendar"></i><time datetime="2014-01-06T15:48:00"> Mon 06 January 2014</time>
    </span>



<span class="label label-default">Tags</span>
	<a href="http://ciwchris.github.io/tags/clojurescript.html">clojurescript</a>
        /
	<a href="http://ciwchris.github.io/tags/angular.html">angular</a>
    
</footer><!-- /.post-info -->                    </div>
                </div>
                <p>Being new to Clojure and ClojureScript my goal is to recreate the <a href="https://github.com/zcaudate/purnam-angular-example">Todo example</a> using <a href="http://docs.caudate.me/purnam/">Purnam</a>, the JavaScript language extensions for ClojureScript, and also keep the scaffolding, dependency and build features which come with <a href="http://yeoman.io/">yeoman</a>.</p>
<h3>Creating the application</h3>
<p>We will create a new ClojureScript project named todo using the leiningen template cljs-kickoff. This will setup up the project with ClojureScript using cljsbuild and Ring. Then we will generate an AngularJS application using yo, meaning the content generated by leiningen, in the resources public folder, will not be needed. We will therefore remove this content and link this folder to the app folder created by yo.</p>
<figure class='code'>

<div class="highlight"><pre><span class="gp">$</span> lein new cljs-kickoff todo
<span class="gp">$</span> <span class="nb">cd </span>todo
<span class="gp">$</span> yo angular todo
<span class="go">Would you like to include Twitter Bootstrap? (Y/n) y</span>
<span class="go">If so, would you like to use Twitter Bootstrap for Compass (as opposed to vanilla CSS)? (Y/n) n</span>
<span class="go">Would you like to include angular-resource.js? (Y/n) n</span>
<span class="go">Would you like to include angular-cookies.js? (Y/n) n</span>
<span class="go">Would you like to include angular-sanitize.js? (Y/n) n</span>
<span class="gp">$</span> rm -rf resources/public
<span class="gp">$</span> ln -s ~/todo/app ~/todo/resources/public
</pre></div>


</figure>

<h3>Configuring Karma</h3>
<p>At the time of writing there appears to be some inconsistencies between the generated karama configuration and other yeoman tools. Therefore the following edits in karma.conf.js are needed.</p>
<figure class='code'>
<figcaption class='code-title'><span>karma.conf.js</span></figcaption>

<div class="highlight"><pre><span class="c1">// list of files / patterns to load in the browser</span>
<span class="nx">files</span><span class="o">:</span> <span class="p">[</span>
  <span class="s1">&#39;app/components/angular/angular.js&#39;</span><span class="p">,</span>  <span class="c1">// was: app/bower_components/angular/angular.js</span>
  <span class="s1">&#39;app/components/angular-mocks/angular-mocks.js&#39;</span><span class="p">,</span> <span class="c1">// was: app/bower_components/angular/angular-mocks.js</span>
  <span class="s1">&#39;app/scripts/*.js&#39;</span><span class="p">,</span>
  <span class="s1">&#39;app/scripts/**/*.js&#39;</span><span class="p">,</span>
  <span class="s1">&#39;test/mock/**/*.js&#39;</span><span class="p">,</span>
  <span class="s1">&#39;test/spec/**/*.js&#39;</span>
<span class="p">],</span>
</pre></div>


</figure>

<p>While we are here let's also turn on autoWatch and use PhantomJS as our browser.</p>
<figure class='code'>
<figcaption class='code-title'><span>karma.conf.js</span></figcaption>

<div class="highlight"><pre><span class="nx">autoWatch</span><span class="o">:</span> <span class="kc">true</span><span class="p">,</span>

<span class="nx">browsers</span><span class="o">:</span> <span class="p">[</span><span class="s1">&#39;PhantomJS&#39;</span><span class="p">],</span>
</pre></div>


</figure>

<p>When running the Angular tests at this point, <code>grunt test</code>, I receive the error:</p>
<figure class='code'>

<div class="highlight"><pre><span class="go">Running &quot;karma:unit&quot; (karma) task</span>
<span class="go">[2013-12-26 14:33:40.928] [ERROR] config - Invalid config file!</span>
<span class="go"> [ReferenceError: module is not defined]</span>
</pre></div>


</figure>

<p>This can be resolved by installing grunt-karma as a development dependency.</p>
<figure class='code'>

<div class="highlight"><pre><span class="gp">$</span> npm install grunt-karma --save-dev
</pre></div>


</figure>

<p>Now when I run <code>grunt test</code> the test, which came with the angular project, will run and pass. Now that we know tests are running properly we can remove the JavaScript created by the angular scaffolding, since we will be using the JavaScript compiled from the ClojureScript we create.</p>
<figure class='code'>

<div class="highlight"><pre><span class="gp">$</span> rm -rf app/scripts/*
<span class="gp">$</span> rm -rf <span class="nb">test</span>/**/*.js
</pre></div>


</figure>

<h3>Creating the html</h3>
<p>First we'll edit index.html. Since we are using ClojureScript we will compile all of our ClojureScript to a single JavaScript file. Therefore we'll only include a reference to app.js and remove the reference to the main controller. Let's also remove Google Analytics.</p>
<figure class='code'>
<figcaption class='code-title'><span>app/index.html</span></figcaption>

<div class="highlight"><pre>  <span class="c">&lt;!-- build:js scripts/scripts.js --&gt;</span>
  <span class="nt">&lt;script </span><span class="na">src=</span><span class="s">&quot;scripts/app.js&quot;</span><span class="nt">&gt;&lt;/script&gt;</span>
  <span class="c">&lt;!-- endbuild --&gt;</span>

<span class="nt">&lt;/body&gt;</span>
</pre></div>


</figure>

<p>Next, let's update the view template, main.html. We'll start with displaying the number of todos.</p>
<figure class='code'>
<figcaption class='code-title'><span>app/views/main.html</span></figcaption>

<div class="highlight"><pre><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">&quot;centered&quot;</span><span class="nt">&gt;</span>
  <span class="nt">&lt;h1&gt;</span>Todo List<span class="nt">&lt;/h1&gt;</span>
  <span class="nt">&lt;span&gt;</span>{{remainingTodos()}} remaining<span class="nt">&lt;/span&gt;</span>
<span class="nt">&lt;/div&gt;</span>
</pre></div>


</figure>

<p>Finally, we'll update the Ring server handler to serve our index.html page.</p>
<figure class='code'>
<figcaption class='code-title'><span>src/clj/todo/server.clj</span></figcaption>

<div class="highlight"><pre><span class="p">(</span><span class="kd">defn </span><span class="nv">handler</span> <span class="p">[</span><span class="nv">request</span><span class="p">]</span>
  <span class="p">(</span><span class="k">if </span><span class="p">(</span><span class="nb">= </span><span class="s">&quot;/&quot;</span> <span class="p">(</span><span class="ss">:uri</span> <span class="nv">request</span><span class="p">))</span>
      <span class="p">(</span><span class="nf">response/redirect</span> <span class="s">&quot;/index.html&quot;</span><span class="p">)))</span>
</pre></div>


</figure>

<h3>Compiling ClojureScript</h3>
<p>We need to make some change to the project file generated by leiningen. First add purnam as a dependency.</p>
<figure class='code'>
<figcaption class='code-title'><span>project.clj</span></figcaption>

<div class="highlight"><pre><span class="ss">:dependencies</span> <span class="p">[[</span><span class="nv">org.clojure/clojure</span> <span class="s">&quot;1.5.1&quot;</span><span class="p">]</span>
               <span class="p">[</span><span class="nv">org.clojure/clojurescript</span> <span class="s">&quot;0.0-1896&quot;</span><span class="p">]</span>
               <span class="p">[</span><span class="nv">im.chit/purnam</span> <span class="s">&quot;0.1.8&quot;</span><span class="p">]</span>
               <span class="p">[</span><span class="nv">ring</span> <span class="s">&quot;1.1.8&quot;</span><span class="p">]]</span>
</pre></div>


</figure>

<p>Next, we'll change the output location of the generated JavaScript to the location we specified in the index.html page (remember resources/public/ is linked to app/).</p>
<figure class='code'>
<figcaption class='code-title'><span>project.clj</span></figcaption>

<div class="highlight"><pre><span class="ss">:main</span> <span class="p">{</span>
       <span class="ss">:source-paths</span> <span class="p">[</span><span class="s">&quot;src/cljs&quot;</span><span class="p">]</span>
       <span class="ss">:compiler</span> <span class="p">{</span><span class="ss">:output-to</span> <span class="s">&quot;resources/public/scripts/app.js&quot;</span>
                  <span class="ss">:optimizations</span> <span class="ss">:simple</span>
                  <span class="ss">:pretty-print</span> <span class="nv">true</span><span class="p">}</span>
       <span class="ss">:jar</span> <span class="nv">true</span><span class="p">}</span>
</pre></div>


</figure>

<p>Then we'll add a duplicate section to compile the ClojureScript tests to JavaScript.</p>
<figure class='code'>
<figcaption class='code-title'><span>project.clj</span></figcaption>

<div class="highlight"><pre><span class="ss">:unit-test</span> <span class="p">{</span>
            <span class="ss">:source-paths</span> <span class="p">[</span><span class="s">&quot;test/cljs&quot;</span><span class="p">]</span>
            <span class="ss">:compiler</span> <span class="p">{</span><span class="ss">:output-to</span> <span class="s">&quot;test/spec/app-tests.js&quot;</span>
                       <span class="ss">:optimizations</span> <span class="ss">:simple</span>
                       <span class="ss">:pretty-print</span> <span class="nv">true</span><span class="p">}}</span>
</pre></div>


</figure>

<p>The source location for the tests does not exist yet, we'll create it later. Before moving on it's a good idea to compile the ClojureScript to ensure everything is working as expected.</p>
<figure class='code'>

<div class="highlight"><pre><span class="gp">$</span> lein cljsbuild once
</pre></div>


</figure>

<h3>Creating and configuring an Angular module</h3>
<p>We'll remove the ClojureScript file created by leiningen and instead create a new file to define and configure our Angular module.</p>
<figure class='code'>

<div class="highlight"><pre><span class="gp">$</span> rm src/cljs/todo/client.cljs
<span class="gp">$</span> touch src/cljs/todo/app.cljs
</pre></div>


</figure>

<p>We'll start taking advantage of the macros defined in purnam. We'll also include the purnam JavaScript macros to generate raw JavaScript objects for use when defining our routes.</p>
<figure class='code'>
<figcaption class='code-title'><span>src/cljs/todo/app.cljs</span></figcaption>

<div class="highlight"><pre><span class="p">(</span><span class="kd">ns </span><span class="nv">todo.app</span>
  <span class="p">(</span><span class="ss">:use-macros</span> <span class="p">[</span><span class="nv">purnam.js</span> <span class="ss">:only</span> <span class="p">[</span><span class="nv">obj</span><span class="p">]]</span>
               <span class="p">[</span><span class="nv">purnam.angular</span> <span class="ss">:only</span> <span class="p">[</span><span class="nv">def.module</span> <span class="nv">def.config</span><span class="p">]]))</span>

<span class="p">(</span><span class="nf">def.module</span> <span class="nv">todoApp</span> <span class="p">[])</span>

<span class="p">(</span><span class="nf">def.config</span> <span class="nv">todoApp</span> <span class="p">[</span><span class="nv">$routeProvider</span><span class="p">]</span>
  <span class="p">(</span><span class="nb">doto </span><span class="nv">$routeProvider</span>
      <span class="p">(</span><span class="nf">.when</span> <span class="s">&quot;/&quot;</span> <span class="p">(</span><span class="nf">obj</span> <span class="ss">:templateUrl</span> <span class="s">&quot;views/main.html&quot;</span> <span class="ss">:controller</span> <span class="s">&quot;MainCtrl&quot;</span><span class="p">))</span>
      <span class="p">(</span><span class="nf">.otherwise</span> <span class="p">(</span><span class="nf">obj</span> <span class="ss">:redirectTo</span> <span class="s">&quot;/&quot;</span><span class="p">))))</span>
</pre></div>


</figure>

<h3>Creating a controller</h3>
<p>We'll create a controller for the view main.html, which already exists and is defined in the routes we just configured in the section above.</p>
<figure class='code'>

<div class="highlight"><pre><span class="gp">$</span> mkdir src/cljs/todo/controllers
<span class="gp">$</span> touch src/cljs/todo/controllers/main.cljs
</pre></div>


</figure>

<p>We next define a simple controller containing a function on the scope to retrieve the remaining todos which we are already using in the main.html template we defined above.</p>
<figure class='code'>
<figcaption class='code-title'><span>src/cljs/todo/controllers/main.cljs</span></figcaption>

<div class="highlight"><pre><span class="p">(</span><span class="kd">ns </span><span class="nv">todo.controllers.main</span>
  <span class="p">(</span><span class="ss">:require</span> <span class="p">[</span><span class="nv">todo.app</span><span class="p">])</span>
  <span class="p">(</span><span class="ss">:use</span> <span class="p">[</span><span class="nv">purnam.cljs</span> <span class="ss">:only</span> <span class="p">[</span><span class="nv">aset-in</span><span class="p">]])</span>
  <span class="p">(</span><span class="ss">:use-macros</span> <span class="p">[</span><span class="nv">purnam.js</span> <span class="ss">:only</span> <span class="p">[</span><span class="nv">!</span><span class="p">]]</span>
               <span class="p">[</span><span class="nv">purnam.angular</span> <span class="ss">:only</span> <span class="p">[</span><span class="nv">def.controller</span><span class="p">]]))</span>

<span class="p">(</span><span class="nf">def.controller</span> <span class="nv">todoApp.MainCtrl</span> <span class="p">[</span><span class="nv">$scope</span><span class="p">]</span>
  <span class="p">(</span><span class="nf">!</span> <span class="nv">$scope.remainingTodos</span> <span class="p">(</span><span class="k">fn </span><span class="p">[]</span> <span class="mi">3</span><span class="p">)))</span>
</pre></div>


</figure>

<p>The <code>!</code> is a macro. It is used to set JavaScript objects using dot notation, which makes the ClojureScript a bit more readable when working with JavaScript. Before we get too far lets begin writing tests for the controller.</p>
<h3>Writing a test for a controller</h3>
<p>Create the directory structure and a test file for the controller.</p>
<figure class='code'>

<div class="highlight"><pre><span class="gp">$</span> mkdir -p <span class="nb">test</span>/cljs/todo/controllers
<span class="gp">$</span> touch <span class="nb">test</span>/cljs/todo/controllers/main-tests.cljs
</pre></div>


</figure>

<p>Our first test will simply check the value we are returning from the remainingTodos function defined on our controller. We'll require the namespace we defined our controller in. We will take advantage of purnam.test to write our tests. Purnam.test defines several macros which help make the tests more readable. Purnam.test <a href="http://docs.caudate.me/purnam/#init">requires the 'init' macro</a> at the top of all test files.</p>
<figure class='code'>
<figcaption class='code-title'><span>test/cljs/todo/controllers/main-tests.cljs</span></figcaption>

<div class="highlight"><pre><span class="p">(</span><span class="kd">ns </span><span class="nv">todo.controllers.main-tests</span>
  <span class="p">(</span><span class="ss">:require</span> <span class="p">[</span><span class="nv">todo.controllers.main</span><span class="p">])</span>
  <span class="p">(</span><span class="ss">:use</span> <span class="p">[</span><span class="nv">purnam.cljs</span> <span class="ss">:only</span> <span class="p">[</span><span class="nv">aset-in</span> <span class="nv">aget-in</span><span class="p">]])</span>
  <span class="p">(</span><span class="ss">:use-macros</span>
   <span class="p">[</span><span class="nv">purnam.js</span> <span class="ss">:only</span> <span class="p">[</span><span class="nv">obj</span><span class="p">]]</span>
   <span class="p">[</span><span class="nv">purnam.test</span> <span class="ss">:only</span> <span class="p">[</span><span class="nv">init</span> <span class="nv">describe</span> <span class="nv">it</span> <span class="nv">is</span> <span class="nv">is-not</span><span class="p">]]</span>
   <span class="p">[</span><span class="nv">purnam.test.angular</span> <span class="ss">:only</span> <span class="p">[</span><span class="nv">describe.controller</span><span class="p">]]))</span>

<span class="p">(</span><span class="nf">init</span><span class="p">)</span>

<span class="p">(</span><span class="nf">describe.controller</span>
  <span class="p">{</span><span class="ss">:doc</span> <span class="s">&quot;Testing Main Controller&quot;</span>
   <span class="ss">:module</span> <span class="nv">todoApp</span>
   <span class="ss">:controller</span> <span class="nv">MainCtrl</span>
   <span class="p">}</span>

  <span class="p">(</span><span class="nf">it</span> <span class="s">&quot;should have 3 default remaining todos&quot;</span>
      <span class="p">(</span><span class="nf">is</span> <span class="p">(</span><span class="nf">$scope.remainingTodos</span><span class="p">)</span> <span class="mi">3</span><span class="p">)))</span>
</pre></div>


</figure>

<p>Let's make sure this test runs. It may be helpful at this point to auto compile the ClojureScript and auto run the tests.</p>
<figure class='code'>

<div class="highlight"><pre><span class="gp">$</span> karma start karma.conf.js &amp;
<span class="gp">$</span> lein cljsbuild auto
</pre></div>


</figure>

<h3>Adding to the test</h3>
<p>With a test in place let's go back to the main controller and add 3 default todos and change the remainingTodos functions to return the number of todos.</p>
<figure class='code'>
<figcaption class='code-title'><span>src/cljs/todo/controllers/main.cljs</span></figcaption>

<div class="highlight"><pre><span class="p">(</span><span class="nf">def.controller</span> <span class="nv">todoApp.MainCtrl</span> <span class="p">[</span><span class="nv">$scope</span><span class="p">]</span>
  <span class="p">(</span><span class="nf">!</span> <span class="nv">$scope.todos</span> <span class="p">(</span><span class="nf">arr</span> <span class="p">{</span><span class="ss">:text</span> <span class="s">&quot;Learn Clojure&quot;</span> <span class="ss">:done</span> <span class="nv">false</span><span class="p">}</span>
                       <span class="p">{</span><span class="ss">:text</span> <span class="s">&quot;Learn JavaScript&quot;</span> <span class="ss">:done</span> <span class="nv">false</span><span class="p">}</span>
                       <span class="p">{</span><span class="ss">:text</span> <span class="s">&quot;Learn Angular&quot;</span> <span class="ss">:done</span> <span class="nv">false</span><span class="p">}))</span> 
  <span class="p">(</span><span class="nf">!</span> <span class="nv">$scope.remainingTodos</span> <span class="p">(</span><span class="k">fn </span><span class="p">[]</span>
                             <span class="p">(</span><span class="nf">.-length</span> <span class="nv">$scope.todos</span><span class="p">))))</span>
</pre></div>


</figure>

<p>We are now using an array so we will now need to include the <code>arr</code> macro in main.cljs, <code>[purnam.js :only [! arr]]</code>.</p>
<p><strong><em>Making changes to the application's ClojureScript source will cause leiningen to recompile the ClojureScript, if cljsbulid is run using auto. This will not cause the tests to rerun though. You must touch a ClojureScript test file first. Touching a ClojureScript test file will generate a new JavaScript test file. Karma will notice this change and rerun the tests. </em></strong></p>
<p>When we created the default todos adove, in addition to the name of the todo, we added an extra property to mark whether the todo is completed or not. Let's make use of this property. We'll begin by writing a test to verify we only count the todos not complete. We'll setup our test by assigning a new list of todos with one todo marked as complete.</p>
<figure class='code'>
<figcaption class='code-title'><span>test/cljs/todo/controllers/main-tests.cljs</span></figcaption>

<div class="highlight"><pre><span class="p">(</span><span class="nf">it</span> <span class="s">&quot;should filter out done todos&quot;</span>
    <span class="p">(</span><span class="nf">!</span> <span class="nv">$scope.todos</span> <span class="p">(</span><span class="nf">arr</span> <span class="p">{</span><span class="ss">:text</span> <span class="s">&quot;Learn Clojure&quot;</span> <span class="ss">:done</span> <span class="nv">false</span><span class="p">}</span>
                         <span class="p">{</span><span class="ss">:text</span> <span class="s">&quot;Learn JavaScript&quot;</span> <span class="ss">:done</span> <span class="nv">true</span><span class="p">}</span>
                         <span class="p">{</span><span class="ss">:text</span> <span class="s">&quot;Learn Angular&quot;</span> <span class="ss">:done</span> <span class="nv">false</span><span class="p">}))</span>
    <span class="p">(</span><span class="nf">is</span> <span class="p">(</span><span class="nf">$scope.remainingTodos</span><span class="p">)</span> <span class="mi">2</span><span class="p">))</span>
</pre></div>


</figure>

<p>Don't forget to include the additional macros <code>[purnam.js :only [obj ! arr]]</code> in main-tests.cljs. This test will fail. Let's fix it.</p>
<figure class='code'>
<figcaption class='code-title'><span>src/cljs/todo/controllers/main.cljs</span></figcaption>

<div class="highlight"><pre><span class="p">(</span><span class="nf">!</span> <span class="nv">$scope.remainingTodos</span> <span class="p">(</span><span class="k">fn </span><span class="p">[]</span>
                             <span class="p">(</span><span class="nf">.-length</span> <span class="p">(</span><span class="nf">$scope.todos.filter</span>
                                         <span class="p">(</span><span class="k">fn </span><span class="p">[</span><span class="nv">v</span><span class="p">]</span> <span class="p">(</span><span class="nb">not </span><span class="nv">v.done</span><span class="p">))))))</span>
</pre></div>


</figure>

<h3>Viewing the application</h3>
<p>Let's now update our template to display the list of todos as a list.</p>
<figure class='code'>
<figcaption class='code-title'><span>app/views/main.html</span></figcaption>

<div class="highlight"><pre><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">&quot;centered&quot;</span><span class="nt">&gt;</span>
  <span class="nt">&lt;h1&gt;</span>Todo List<span class="nt">&lt;/h1&gt;</span>
  <span class="nt">&lt;span&gt;</span>{{remainingTodos()}} remaining<span class="nt">&lt;/span&gt;</span>
  <span class="nt">&lt;ul</span> <span class="na">class=</span><span class="s">&quot;unstyled&quot;</span><span class="nt">&gt;</span>
    <span class="nt">&lt;li</span> <span class="na">ng-repeat=</span><span class="s">&quot;t in todos&quot;</span><span class="nt">&gt;</span>
      <span class="nt">&lt;span&gt;</span>{{t.text}}<span class="nt">&lt;/span&gt;</span>
    <span class="nt">&lt;/li&gt;</span>
  <span class="nt">&lt;/ul&gt;</span>
<span class="nt">&lt;/div&gt;</span>
</pre></div>


</figure>

<p>There are a couple ways we can view our todo application. Since we are using grunt we can view our application by running <code>grunt server</code>. This has the benefit of auto launching our application and automatically reloading the application when we make changes. The drawback is that it only works with the client side of our application. This is sufficient for our example, since we don't have any server code. The second way we can view our application is by using Ring, <code>lein ring server</code>. Our website will then be available on the port we defined in server.clj, in our example we used port 3000. This does not have the drawback of grunt but also does not include the live reloading we benefited from when using grunt. A potential solution is to use both, run the client side of an application on one port using grunt and then run the server side of an application using Ring on another port. Since we don't have any server code we'll use grunt.</p>
<figure class='code'>

<div class="highlight"><pre><span class="gp">$</span> grunt server
</pre></div>


</figure>

<p>Next, let's add a checkbox next to each todo. When clicked it will mark the todo as complete. The todo will now be displayed in a label so it can be associated to the checkbox using the $index variable belonging to the ngRepeat directive.</p>
<figure class='code'>
<figcaption class='code-title'><span>app/views/main.html</span></figcaption>

<div class="highlight"><pre><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">&quot;centered&quot;</span><span class="nt">&gt;</span>
  <span class="nt">&lt;h1&gt;</span>Todo List<span class="nt">&lt;/h1&gt;</span>
  <span class="nt">&lt;span&gt;</span>{{remainingTodos()}} remaining<span class="nt">&lt;/span&gt;</span>
  <span class="nt">&lt;ul</span> <span class="na">class=</span><span class="s">&quot;unstyled remaining-todos&quot;</span><span class="nt">&gt;</span>
    <span class="nt">&lt;li</span> <span class="na">ng-repeat=</span><span class="s">&quot;t in todos&quot;</span><span class="nt">&gt;</span>
      <span class="nt">&lt;input</span> <span class="na">id=</span><span class="s">&quot;item{{ $index }}&quot;</span> <span class="na">type=</span><span class="s">&quot;checkbox&quot;</span> <span class="na">ng-model=</span><span class="s">t.done</span><span class="nt">&gt;</span>
      <span class="nt">&lt;label</span> <span class="na">for=</span><span class="s">&quot;item{{ $index }}&quot;</span> <span class="na">ng-class=</span><span class="s">&quot;{&#39;todo-done&#39;: t.done}&quot;</span><span class="nt">&gt;</span>{{t.text}}
    <span class="nt">&lt;li&gt;</span>
   <span class="nt">&lt;/ul&gt;</span>
<span class="nt">&lt;/div&gt;</span>
</pre></div>


</figure>

<p>And we'll add some styling to align the checkbox to the left of the label and display done todos as completed by drawing a line through them.</p>
<figure class='code'>
<figcaption class='code-title'><span>app/style/main.css</span></figcaption>

<div class="highlight"><pre><span class="nc">.remaining-todos</span> <span class="nt">li</span> <span class="nt">input</span><span class="o">[</span><span class="nt">type</span><span class="o">=</span><span class="nt">checkbox</span><span class="o">]</span> <span class="p">{</span> <span class="k">float</span><span class="o">:</span><span class="k">left</span><span class="p">;</span> <span class="p">}</span>
<span class="nc">.todo-done</span> <span class="p">{</span> <span class="k">text-decoration</span><span class="o">:</span><span class="k">line-through</span><span class="p">;</span> <span class="k">color</span><span class="o">:</span><span class="nb">gray</span><span class="p">;</span> <span class="p">}</span>
</pre></div>


</figure>

<h3>Conclusion</h3>
<p>So far we have looked at creating our todo application using both leiningen as well as yeoman, in attempt to reap the benefits of both. We have seen that using Purnam makes working with JavaScript and AngularJS simpler and more readable. We are able to write tests for our application and use cljsbuild to auto compile our ClojureScript and Karma to auto run our tests, although we need to touch a test file after changing our application's source so that the tests will rerun.</p>
<p>At this point our todo application isn't very functional. We can display todos and mark them as complete. Next we'll look at creating filters to display todo counts, create a service for working with the list of todos and introduce functionality for adding new todos.</p>
<p><a href="https://github.com/ciwchris/purnam-angular-example">Example source</a></p>
            </div>
            <!-- /.entry-content -->
        </article>
    </section>

        </div>
        <div class="col-sm-3 well well-sm" id="sidebar">

<aside>
    <section>
        <ul class="list-group list-group-flush">



                <li class="list-group-item"><a href="http://ciwchris.github.io/"><h4><i class="fa fa-tags fa-lg"></i><span class="icon-label">Tags</span></h4></a>
                    <ul class="list-group " id="tags">
                        <li class="list-group-item tag-1">
                            <a href="http://ciwchris.github.io/tags/vim.html">
                                vim
                            </a>
                        </li>
                        <li class="list-group-item tag-2">
                            <a href="http://ciwchris.github.io/tags/philosophy.html">
                                philosophy
                            </a>
                        </li>
                        <li class="list-group-item tag-2">
                            <a href="http://ciwchris.github.io/tags/powershell.html">
                                powershell
                            </a>
                        </li>
                        <li class="list-group-item tag-4">
                            <a href="http://ciwchris.github.io/tags/books.html">
                                books
                            </a>
                        </li>
                        <li class="list-group-item tag-4">
                            <a href="http://ciwchris.github.io/tags/example.html">
                                example
                            </a>
                        </li>
                        <li class="list-group-item tag-4">
                            <a href="http://ciwchris.github.io/tags/angular.html">
                                angular
                            </a>
                        </li>
                        <li class="list-group-item tag-4">
                            <a href="http://ciwchris.github.io/tags/principle.html">
                                principle
                            </a>
                        </li>
                        <li class="list-group-item tag-4">
                            <a href="http://ciwchris.github.io/tags/tests.html">
                                tests
                            </a>
                        </li>
                    </ul>
                </li>    

        </ul>
    </section>

</aside>        </div>
    </div>
</div>
<footer>
   <div class="container">
      <hr>
      <div class="row">
         <div class="col-xs-10">&copy; 2014 Chris
            &middot; Powered by <a href="https://github.com/DandyDev/pelican-bootstrap3" target="_blank">pelican-bootstrap3</a>,
            <a href="http://docs.getpelican.com/" target="_blank">Pelican</a>,
            <a href="http://getbootstrap.com" target="_blank">Bootstrap</a>         </div>
         <div class="col-xs-2"><p class="pull-right"><i class="fa fa-arrow-up"></i> <a href="#">Back to top</a></p></div>
      </div>
   </div>
</footer>
<script src="http://ciwchris.github.io/theme/js/jquery.min.js"></script>

<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="http://ciwchris.github.io/theme/js/bootstrap.min.js"></script>

<!-- Enable responsive features in IE8 with Respond.js (https://github.com/scottjehl/Respond) -->
<script src="http://ciwchris.github.io/theme/js/respond.min.js"></script>

</body>
</html>